body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Shadows Into Light", cursive;
  font-size: large;
}

.background {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: flex-start;
  
}

.slideshow-container {
  max-width: 300px;
  margin-right: 20px;
  position: relative;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
      opacity: 0.4;
  }
  to {
      opacity: 1;
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text-container {
  flex: 1;
  padding: 20px;
}

.text {
  display: block;
}

.text.active {
  display: block;
}
p{
  font-size: larger;
  font-weight: 300;
}