body {
    background-color: lightgoldenrodyellow;
    margin: 10rem;
    padding: 0;
    margin-left: 5rem;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: larger;
    font-weight: 800;
    font-style: normal;
}
#main{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    background-color: lavender;
    padding-bottom: 100%;
}
.container {
    
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-items: center; /* Center items horizontally */
}

.item {
    width: 100%;
    text-align: left;
    position: relative;
    /*margin-bottom: 10rem;  Add some space between items */
}

.dropdown {
    display: none;
    position: relative; /* Change to relative to position dropdowns correctly */
    background-color: rgb(189, 243, 255);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 1;
    
}

.item:hover .dropdown {
    display: flex; /* Display images in a row */
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: center; /* Center images horizontally */
}

.dropdown img {
    width: 30%; /* Each image takes up 30% of the container */
    margin: 10px; /* Add some space between images */
    height: auto;
    aspect-ratio: 16/9; /* Set the aspect ratio to 4:3 */
    transition: transform 0.3s, box-shadow 0.3s;
}

.dropdown img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: -boxcontent;
  }